<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter au calendrier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="calendar-content ion-padding" *ngIf="event">
  <ion-card class="calendar-card">
    <ion-card-header>
      <ion-card-title>{{ event.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Catégorie :</strong> {{ event.category }}</p>
      <p><strong>Date originale :</strong> {{ event.date }}</p>
    </ion-card-content>
  </ion-card>

  <ion-datetime
    presentation="date-time"
    [(ngModel)]="selectedDate">
  </ion-datetime>

  <ion-button expand="block" class="confirm-btn ion-margin-top" (click)="saveToCalendar()">
    Confirmer l’ajout
  </ion-button>
</ion-content>
