<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content ion-padding">
  <ion-card *ngIf="user" class="profile-card">
    <ion-card-header>
      <ion-card-title>Mon Profil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Nom :</strong> {{ user.name }}</p>
      <p><strong>Email :</strong> {{ user.email }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="logout-btn" (click)="logout()">
    Déconnexion
  </ion-button>
</ion-content>

<app-bottom-nav active="profile"></app-bottom-nav>
