<ion-content class="auth-page">
  <div class="auth-overlay"></div>

  <div class="auth-wrapper">
    <div class="auth-box">
      <h1>Se connecter à EventGo</h1>

      <ion-item class="input-item">
        <ion-input
          placeholder="Numéro, nom de profil ou e-mail"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          placeholder="Mot de passe"
          type="password"
          [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="login-btn" (click)="login()">
        Se connecter
      </ion-button>

      <div class="error-box" *ngIf="message">
        {{ message }}
      </div>

      <p class="forgot-text">Mot de passe oublié ?</p>

      <ion-button expand="block" fill="clear" class="register-link" (click)="goToRegister()">
        Créer un compte
      </ion-button>
    </div>
  </div>
</ion-content>
