<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Mot de passe" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" routerLink="/home" class="ion-margin-top">
    Se connecter
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/register">
    Créer un compte
  </ion-button>
</ion-content>
