<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Mot de passe" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" routerLink="/login" class="ion-margin-top">
    S'inscrire
  </ion-button>
</ion-content>
