<ion-content class="auth-page">
  <div class="auth-overlay"></div>

  <div class="auth-wrapper">
    <div class="auth-box">
      <h1>Créer un compte</h1>

      <ion-item class="input-item">
        <ion-input
          placeholder="Nom complet"
          [(ngModel)]="name">
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          placeholder="Adresse e-mail"
          type="email"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          placeholder="Mot de passe"
          type="password"
          [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="login-btn" (click)="register()">
        S'inscrire
      </ion-button>

      <div class="error-box" *ngIf="message">
        {{ message }}
      </div>

      <ion-button expand="block" fill="clear" class="register-link" (click)="goToLogin()">
        Retour connexion
      </ion-button>
    </div>
  </div>
</ion-content>
