<ion-header>
  <ion-toolbar>
    <ion-title>EventGo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Liste des événements</h2>

  <ion-card *ngFor="let event of events">
    <ion-card-header>
      <ion-card-title>{{ event.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Date : {{ event.date }} <br />
      Catégorie : {{ event.category }}
    </ion-card-content>

    <div class="btn-group">
      <ion-button expand="block" (click)="registerEvent(event)">
        S'inscrire
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="openCalendar(event)">
        Ajouter au calendrier
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<app-bottom-nav active="home"></app-bottom-nav>
