<ion-header>
  <ion-toolbar>
    <ion-title>EventGo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Liste des événements</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Concert à Tunis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date : 10/04/2026 <br />
      Catégorie : Concert
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Conférence Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date : 15/04/2026 <br />
      Catégorie : Conférence
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/search">
    Rechercher un événement
  </ion-button>
</ion-content>
