ion-content {
  --padding-bottom: 90px;
}

h2 {
  margin-bottom: 20px;
}

ion-card {
  margin-bottom: 20px;
}

.btn-group {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
